## 문제 1
#### 다음 코드를 for문으로 작성하라.

In [2]:
x = 10
print(x)
x = 20
print(x)
x = 30
print(x)

10
20
30

#### 답안작성

## 문제 2
#### for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라

In [4]:
my_list = ["김밥", "라면", "튀김"]

In [6]:
'''
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
'''

'\n오늘의 메뉴: 김밥\n오늘의 메뉴: 라면\n오늘의 메뉴: 튀김\n'

#### 답안작성

## 문제 3
#### 리스트에 동물 이름 저장돼 있다. for문을 사용해서 동물 이름의 첫 글자만 출력하라.

In [12]:
my_list = ['dog', 'cat', 'parrot']

In [11]:
'''
d
c
p
'''

'\nd\nc\np\n'

#### 답안작성

## 문제 4
#### 리스트에서 20 보다 작은 3의 배수를 출력하라

In [17]:
my_list = [13, 21, 12, 14, 30, 18]

In [16]:
'''
12
18
'''

'\n12\n18\n'

#### 답안작성

## 문제 5
#### 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라

In [ ]:
price_list = [32100, 32150, 32000, 32500]

In [ ]:
'''
0 32100
1 32150
2 32000
3 32500
'''

#### 답안작성

## 문제 6
#### 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [21]:
apart = [ [101, 102], [201, 202], [301, 302] ] # hint : 반복문 안에 또 반복문을 사용할 수 있다.

In [ ]:
'''
302 호
301 호
202 호
201 호
102 호
101 호
'''

#### 답안작성